<html>
    <head>
        <title>
            
        </title>
    </head>
    <body>
        
        <form action="/form" method="POST">
            <input type="text" placeholder="name" name="name1">
            <br>
            <input type="text" placeholder="email" name="email1">
            <br>
            <input type="text" placeholder="subject" name="subject1">
            <br>
            <textarea name="comment1" id="" cols="30" rows="10"></textarea>

            <br>
            <button type="submit">submit</button>
        </form>
    </body>
</html>